<router-outlet />


@if(!loggedIn) {
<div class="d-flex m-5" style="width: 300px;">
    <div class="col p-2">
        <div class="row px-1">
            <asl-google-signin-button type='standard' size='medium' [width]="300">
            </asl-google-signin-button>
        </div>
        <div class="row m-1">
            <button type="button" (click)="signInWithFB()" class="btn btn-primary btn-block">
                Signin with Facebook
                <i class="bi bi-facebook"></i>
            </button>
        </div>
        <div class="row m-1">
            <button type="button" class="btn btn-secondary btn-block" (click)="signInWithInsta()">
                Signin with Instagram
                <i class="bi bi-instagram"></i>
            </button>
        </div>
        <div class="row m-1"></div>
        <div class="row "></div>
        <div class="row ">
            <div style="text-align:center">
                <h1>Welcome to Angular Instagram OAuth!</h1>
                <a href="http://localhost:3000/auth/instagram">Signup with Instagram</a>
              </div>
        </div>


    </div>
</div>
}@else {
<div class="m-3">
    <div class="d-flex justify-content-end">
        <button class="btn btn-warning" (click)="signOut()">
            Sign Out
            <i class="bi bi-box-arrow-right"></i>
        </button>
    </div>
</div>

}